<div style="background-color:;">
	
	<p id="notice"><%= notice %></p>

	<p>
  	<strong>Instance:</strong>
  	<%= instance_info.instance_id %>
	</p>

<p>
  <strong>Hostname:</strong>
  <%= instance_info.hostname %>
</p>

<p>
  <strong>Url:</strong>
  <%= instance_info.url %>
</p>

<p>
  <strong>State:</strong>
  <%= instance_info.state %>
</p>

<p>
  <strong>Schedule days:</strong>
  <%= instance_info.schedule_days %>
</p>

<p>
  <strong>Schedule hours:</strong>
  <%= instance_info.schedule_hours %>
</p> 

<p>
  <strong>notification interval, minutes:</strong>
  <%= instance_info.notification_interval %>
</p>

<p>
  <strong>notification list:</strong>
  <%= instance_info.notification_list %>
</p>

<p>
  <strong>Enforce schedule:</strong>
  <%= instance_info.locked %>
</p>


<%= link_to 'Edit', edit_server_path(instance_info), class: 'btn btn-default' %>

</div>