<div class="container">
  <div class="row" id="server-listing">
  <div class="col-md-4">
    <h3>Listing servers</h3>
    <ul class="nav nav-pills nav-stacked">
      <% @servers.each do |server| %>
        <li role="presentation" class="">
          <%= link_to server, class: "main-server-link", remote: true do %>
            <i class="fa fa-server"></i>
            <%= server.hostname %>
            <% if server.locked %>
              <i class="fa fa-lock"></i>
            <% else %>
              <i class="fa fa-unlock"></i>
            <% end %>
            <span class="label label-info"><%= server.state %></span> 
          <% end %>
          </a>
        </li>
      <% end %>  
      <%= link_to new_server_path, class: "btn btn-success" do %>
        <i class="fa fa-plus"></i> Add new server
      <% end %>
    </ul>
    
    
  </div>
  <div class="col-md-8">
    <div id="main-istance-info">
      <%= render partial: "instance_info", object: @servers.first %>
    </div>
  </div>
  </div>
</div>

<div class="row" id="latest-events">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="latest-events">
      <div class="panel panel-info">
        <div class="panel-heading">Latest events</div>
        <div class="panel-body panel-height" style="max-height: 300px;overflow-y: scroll;background-color:black;color: #16DF16;">
        <% if @events and @events.size %>

          <% @events.each do |event| %>   
          <span><%= event.to_json %></span> 
          <hr/>
          <!--     <span class="">"hostname": <%= event.hostname %></span>  
              <p>
              <span class="">"eventName": <%= event.eventName %></span>  
              <p>
              <span class="">"state": <%= event.state %></span>
              <p>
              <span class="">"completed" <%= event.completed %></span>
              <p>
              <span class="">"timestamp" <%= event.date %></span>
              <hr>
 -->


          <% end %> 
        <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>



